* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(253, 251, 252);
    color: black;
    
}

header {
    width: 100%;
    background-color: black;
    /* display: flex; 
    justify-content: space-evenly;
    top: 0; */
    top: 0;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
    padding: 10px;
    float: inline-start;
    background-color: black;
    width: 100%;
    /* text-align: left; */
}

.navbar {
    /* display: flex; */
    justify-content: right;
    float: left;
}

nav ul {
    display: flex;
    margin: 30px;
    /* float: right; */
    /* text-align: right; */
    /* right: 0; */
}

li{
    padding: 5px;
    margin-left: 20px;
    list-style: none;
    font-weight: bold;

}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

.logo img{
    width: 20%;
    text-align: left;
    float: left;
    left: 0;
}

.connect button {
    background-color: rgb(236, 61, 84);;
    /* color: rgb(102, 29, 29); */
    border: none;
    width: 100px;
    height: 50px;
    /* text-align: right; */
    float: right;
    right: 0;
    margin-top: 20px;
    margin-right: -1000px;
}

.connect button a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
}

.hero {
    top: 50;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    float: inline-start;
    margin-top: 50px;
}

.mypicture  img {
    width: 50%;
    /* background-blend-mode: luminosity; */
}

.mypicture {
    padding: 10px;
    /* float: left; */
    /* margin-top: 100px; */
    margin-left: 200px;
    flex: 1;
    /* justify-content: left; */
}

.info {
    flex: 1;
    padding: 10px;
    float: inherit;
    text-align: left;
    margin-right: 200px;
    width: 100px;
}
.info h6 {
    font-weight: bolder;
    margin-bottom: 5px;
    color: rgb(236, 61, 84);
}

.info span {
    color: rgb(236, 61, 84);
}

.info h1 {
    margin-bottom: 15px;
}

.info p {
    font-size: 16px;
}

.social img {
    width: 2em;
    margin-right: 10px;
    margin-top: 10px;
    
}

.social {
    display: flex;
    /* margin-right: 0.5rem; */
    /* justify-content: space-between; */
    
}