* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
}
header {
    background-color: brown;
    border: 2px white;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    flex-direction: row;
    margin: 5px;
    color: aliceblue;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

div.container {
    top: 50;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.box1 {
    justify-content: flex-end;
    width: 20%;
    box-sizing: border-box;
    height: 30%;
    background-color: red;
    color: white;
    padding: 30px;
    margin: 15px;
    /* flex: 2; */

}

.box2 {
    width: 20%;
    box-sizing: border-box;
    height: 30%;
    background-color: green;
    color: white;
    padding: 30px;
    margin: 15px;
    display: flex;
    
}

.box3 {
    width: 20%;
    box-sizing: border-box;
    height: 30%;
    background-color: pink;
    color: white;
    padding: 30px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    
}

.box4 {
    width: 20%;
    box-sizing: border-box;
    height: 30%;
    background-color: red;
    color: white;
    padding: 30px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    
}

.box5 {
    width: 20%;
    box-sizing: border-box;
    height: 30%;
    background-color: rgb(116, 17, 173);
    color: white;
    padding: 30px;
    margin: 15px;
}
.box6 {
    width: 20%;
    box-sizing: border-box;
    height: 30%;
    background-color: rgb(100, 173, 17);
    color: white;
    padding: 30px;
    margin: 15px;
}
.box7 {
    width: 20%;
    box-sizing: border-box;
    height: 30%;
    background-color: rgb(201, 61, 61);
    color: white;
    padding: 30px;
    margin: 15px;
}
.box8 {
    width: 20%;
    box-sizing: border-box;
    height: 30%;
    background-color: rgb(235, 112, 11);
    color: white;
    padding: 30px;
    margin: 15px;
}